# -*-mode: hosts-generic; coding:raw-text-unix;-*-

# general
SCRATCH
PLAN
*.deprecated
*.lnk
*.tmp

# emacs, vim, ctags
*~
\#*
.\#*
.\#*\#
tags
TAGS
BROWSE
Session.vim
.emacs.*

# gdb scripts
gdb*

# gcc profiler files
*.gc*

# project-specific
\#*/
\#steinbruch/
out/
*.stderr
*.stdout
_*

# EOF
