# -*-mode: hosts-generic; coding:raw-text-unix;-*-

# general
SCRATCH
.plan
*.deprecated
*.ico
*.lnk
*.tmp

# emacs, vim, ctags
*~
\#*
.\#*
.\#*\#
tags
TAGS
BROWSE
Session.vim
.emacs.*

# gdb scripts
gdb*

# gcc profiler files
*.gc*

# project-specific
\#*/
\.steinbruch/
build/
*.mak
*-report.md
*.stderr
*.stdout
_*

# EOF
